<style>
  @font-face {
    font-family: 'Styrene A';
    src: url('{{ "/assets/fonts/StyreneA-Regular-Web.woff2" | relative_url }}') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Styrene A';
    src: url('{{ "/assets/fonts/StyreneA-Bold-Web.woff2" | relative_url }}') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Styrene B';
    src: url('{{ "/assets/fonts/StyreneB-Regular-Web.woff2" | relative_url }}') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Styrene B';
    src: url('{{ "/assets/fonts/StyreneB-Bold-Web.woff2" | relative_url }}') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
</style>
{% include code-tabs.html %}
